@model DWD273_Final_Project_Revised.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Topic.TopicDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic.TopicDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.submitTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.submitTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resolved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resolved)
        </dd>

		<h4>
			Comments
		</h4>

		<!--Add Bootstrap modal for Button that opens comment addition form-->

		

		@foreach (var comment in Model.Comments)
		{
			
			<dt>
				@comment.firstName @comment.lastName
			</dt>

			<dd>
				@comment.message
			</dd>
		}

		

    </dl>
	@using (Html.BeginForm("AddComment", "Tickets", FormMethod.Post))
	{
	<label for="firstName">First Name</label>
	<input id="firstName" name="firstName" type="text" />

	<label for="lastName">Last Name</label>
	<input id="lastName" name="lastName" type="text" />

	<label for="message">Comment</label>
	<textarea id="message" name="message"></textarea>

	<input type="hidden" name="TicketID" id="TicketID" value="@Model.ID" />

	<button type="submit">Submit Comment</button>
	}
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
