@model IEnumerable<DWD273_Final_Project_Revised.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*Make a CSS class using nthchild Selector to alternate color on each row*@
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Topic.TopicDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.submitTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resolved)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Topic.TopicDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
			<p style="white-space: pre-wrap;">
            @Html.DisplayFor(modelItem => item.message)
			</p>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.submitTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.resolved)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
